##################### Oneline alias #####################
alias fli='alias | fzf' # Search alias with fzf
alias localablexhost="xhost + 127.0.0.1" # Setup X11 client
alias hugod="hugo server -D --navigateToChanged" # Setup hugo server
##################### Oneline alias #####################


##################### Setup python http server #####################
if hash python3 2>/dev/null; then
    alias python="python3"
    alias pserver="python3 -m http.server";
elif hash python2 2>/dev/null; then
    alias python="python2"
    alias pserver="python2 -m SimpleHTTPServer";
fi
##################### Setup python http server #####################


##################### Rsync upload/download shortcut #####################
alias rssh="rsync -vzrtopg --progress -e ssh --delete"
alias rtocloud="rssh $RSYNC_LOCAL_DIR tencent:$RSYNC_CLOUD_DIR"
alias rtolocal="rssh tencent:$RSYNC_CLOUD_DIR $RSYNC_LOCAL_DIR"
##################### Rsync upload/download shortcut #####################


##################### Terminal's proxy alias #####################
function _export_proxy() {
  local addr='127.0.0.1'
  eval "export https_proxy=http://${1:-$addr}:${2:-7890} http_proxy=http://${1:-$addr}:${2:-7890} all_proxy=socks5://${1:-$addr}:${3:-7890}"
}
alias tproxy=_export_proxy
alias tunproxy='unset all_proxy https_proxy http_proxy'
##################### Terminal's proxy alias #####################


##################### WSL alias #####################
if grep -qEi "(Microsoft|WSL)" /proc/version &> /dev/null ; then
  alias open='explorer.exe'
fi
##################### WSL alias #####################
