alias fli='alias | fzf'

if hash python3 2>/dev/null; then
    alias python="python3"
    alias pserver="python3 -m http.server";
elif hash python2 2>/dev/null; then
    alias python="python2"
    alias pserver="python2 -m SimpleHTTPServer";
fi

# rsync relative
alias rssh="rsync -vzrtopg --progress -e ssh --delete"
alias rtocloud="rssh $RSYNC_LOCAL_DIR tencent:$RSYNC_CLOUD_DIR"
alias rtolocal="rssh tencent:$RSYNC_CLOUD_DIR $RSYNC_LOCAL_DIR"

# X11 client
alias localablexhost="xhost + 127.0.0.1"

# hexo support
alias hugod="hugo server -D --navigateToChanged"

##################### Terminal's proxy alias #####################
function _export_proxy() {
  local addr='127.0.0.1'
  eval "export https_proxy=http://${1:-$addr}:${2:-7890} http_proxy=http://${1:-$addr}:${2:-7890} all_proxy=socks5://${1:-$addr}:${3:-7890}"
}
alias tproxy=_export_proxy
alias tunproxy='unset all_proxy https_proxy http_proxy'
##################### Terminal's proxy alias #####################
