##################### Book: Algorithms edition 4 config #####################
if [ -z "$CLASSPATH" ]
then
  export CLASSPATH=~/algs4/algs4.jar
else
  export CLASSPATH=$CLASSPATH:~/algs4/algs4.jar
fi
##################### Book: Algorithms edition 4 config #####################


##################### Command line tool: Rsync's upload/download config #####################
export RSYNC_LOCAL_DIR="$(echo ~)/Personal/rsync-folder/"
export RSYNC_CLOUD_DIR='/home/ubuntu/Personal/rsync-folder/'
##################### Command line tool: Rsync's upload/download config #####################


##################### ZSH Plugins #####################
export ZSH_PLUGINS_ARRAY=(
  git
  emacs
  nvm
  autojump
  fzf
  tmux
  zsh-syntax-highlighting
)
##################### ZSH Plugins #####################


##################### Export OS name #####################
[ $(uname -s | grep -c CYGWIN) -eq 1 ] && OS_NAME="CYGWIN" || OS_NAME=`uname -s`
##################### Export OS name #####################


# Force terminal to connect with proxy
function _export_proxy() {
    local addr='127.0.0.1'
    eval "export https_proxy=http://${1:-$addr}:${2:-7890} http_proxy=http://${1:-$addr}:${2:-7890} all_proxy=socks5://${1:-$addr}:${3:-7891}"
}
alias tproxy=_export_proxy
alias tunproxy='unset all_proxy https_proxy http_proxy'
