#!/usr/bin/env bash
##################### Book: Algorithms edition 4 config #####################
if [ -z "$CLASSPATH" ]
then
  export CLASSPATH=~/algs4/algs4.jar
else
  export CLASSPATH=$CLASSPATH:~/algs4/algs4.jar
fi
##################### Book: Algorithms edition 4 config #####################


##################### Command line tool: Rsync's upload/download config #####################

RSYNC_LOCAL_DIR="$HOME/Personal/rsync-folder/"
RSYNC_CLOUD_DIR='/home/ubuntu/Personal/rsync-folder/'
export RSYNC_LOCAL_DIR
export RSYNC_CLOUD_DIR
##################### Command line tool: Rsync's upload/download config #####################
