[user]
  name = JMwill
  email = 787505998@qq.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
	quotePath = false
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  unstage = reset HEAD --
  last = log -1 HEAD
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
